<!DOCTYPE html>
<html>
<head>
  <title>Division</title>
  <link href="<%=image_url('favicon.ico') %>" rel="icon" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <footer>A thing by <a href="http://taylorlapeyre.me">Taylor Lapeyre</a></footer>
</body>
</html>
